h2 {
  color: pink;
  font-size: 100pt;
}
body {
  font-family: "Times New Roman";
  color: white;
  background-image: url("74_27_7.jpg");
}
table, td {
  border: 1px solid white;
}
.p1 {
  font-family: Comic Sans MS;
}
.p2 {
  font-family: Arial;
}
.p3 {
  font-family: Courier;
}
.odd {
  background-color: Red;
}
.even {
  background-color: blue;
}
section {
  background-color: pink;
  border: 25px solid purple;
}
